<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cliente.css">
    <title></title>
</head>
<body>
    <header class="cabecalho">
        <div class="cabecalho__logo-busca">
                <div class="logo"></div>

        </div>
        
        <nav class="menu">
            <a href="#" class="menu__item">Home</a>
            <a href="#" class="menu__item">Planos</a>
            <a href="#" class="menu__item">Aulas</a>
            <a href="#" class="menu__item">Produtos</a>
            <a href="#" class="menu__item">Inscrições</a>
        </nav>
        
        <div class="cabecalho__utilitarios">
            <button class="utilitario__botao" id="btn-modo">🌙 Modo</button>
            <span class="utilitario__idioma">PT</span>
            <a href="#" class="utilitario__link" id="btn-login">Login</a>
            <a href="#" class="utilitario__link" id="btn-cadastro">Cadastro</a>
        </div>
    </header>
</body>
</html>